<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Workouts</h1>
        <nav>
            <ul>
                
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2></h2>
        <ul>
            <% for(let i =0; i < workout.length; i++){ %>
                <li>
                    <a href="/workouts/<%= workout[i]._id%>"><%= workout[i].type %></a>
                </li>
            <% } %>
        </ul>
    </main>
    <a href="/workouts/new">Add Your Workout!</a>
</body>
</html>