<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Add a New Workout</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/workouts">Workout Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Your Workout. Good Job!!!</h2>
        <form action="/workouts" method="POST">
            <label for="type">Type:</label>
            <!-- <input type="text" name="type" /> --> 
            <select id="type" name="type">
                <option value="running">Running</option>
                <option value="biking">Biking</option>
                <option value="swimming">Swimming</option>
            </select>
            <label for="duration">Duration:</label>
            <input type="number" name="duration" />
            <label for="distance">Distance:</label>
            <input type="number" name="distance" />
            <input type="submit" value="Log Your Cardio Workout" />
        </form>
    </main>
</body>
</html>